/* CSS Document */
body{
    background-color: snow;
    color: #282828;
    font-family: Helvetica,Arial,'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}
ol,ul{list-style:none outside none}
#wrapper {
background-color: #fff;
border-bottom: 1px solid #bbb;
display: block;
min-height: 500px;
padding-top: 1px;
position: relative;
width: 100%;
}
#footer {
background-color: #3b5998;
    border-top: 1px solid #bbb;
    bottom: 0;
    color: #fff;
    height: 25px;
    left: 0;
    padding-top: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}
.box {
    border: 1px solid #bbb;
    display: block;
    margin-top: 100px;
    min-height: 100px;
    width: 350px;
}
.box_title {
    background-color: steelblue;
    color: #fff;
    font-size: 1.2em;
    height: 25px;
    padding-top: 5px;
    width: 100%;
}
.error_message {
    background-color: yellow;
    border-bottom: 1px solid red;
    color: red;
    display: block;
    width: 100%;
}
#head {
background-color: #3b5998;
border-top: 1px solid #bbb;
box-shadow: 0 2px 3px #888888;
color: #fff;
height: 30px;
left: 0;
padding-top: 10px;
position: absolute;
text-align: center;
top: 0;
width: 100%;
}
#head a {
    color: #fff;
}
input[type = text],input[type = password]  {
    height: 25px;
    width: 90%;
}
#content {
margin-bottom: 30px;
margin-top: 50px;
position: relative;
width: 100%;
}
